@use './schema.scss';

.openapi {
    --dc-openapi-methods-post: rgb(45, 139, 93);
    --dc-openapi-methods-put: rgb(48, 170, 110);
    --dc-openapi-methods-get: rgb(52, 139, 220);
    --dc-openapi-methods-patch: rgb(189, 142, 75);
    --dc-openapi-methods-delete: rgb(233, 3, 58);

    --dc-openapi-status-code-ok: rgb(48, 170, 110);
    --dc-openapi-status-code-redirect: rgb(52, 139, 220);
    --dc-openapi-status-code-client: rgb(233, 3, 58);
    --dc-openapi-status-code-server: rgb(255, 190, 92);
    --dc-openapi-deprecated-bg: #fff4ca;
    --dc-openapi-deprecated-color: #c36819;

    h1,
    h2 {
        display: inline-block;
    }

    #request,
    #responses {
        min-width: 100%;
    }

    #request {
        margin-top: 0;
    }

    &-entity {
        margin-top: 24px;
    }

    & .openapi-deprecated {
        display: inline-block;
        padding: 4px 5px;
        border-radius: 5px;

        position: relative;
        bottom: 3px;
        left: 6px;

        border-bottom: none;
        user-select: none;

        color: var(--dc-openapi-deprecated-color);
        background-color: var(--dc-openapi-deprecated-bg);

        &:hover {
            color: var(--dc-openapi-deprecated-color);
        }

        & > .yfm-term_title {
            border: none;
            font-size: 0.9em;
            color: var(--dc-openapi-deprecated-color);
        }

        &.openapi-deprecated-compact {
            padding: 1px 2px;
            border-radius: 2px;
            background-color: transparent;

            bottom: -3px;
            left: 4px;
            font-size: 1.5em;

            & > .yfm-term_title {
                padding: 0 12px;
            }

            & > .yfm-term_title:before {
                content: ' ⚠️';
                font-style: normal;
                font-weight: inherit;
                color: inherit;
                position: absolute;
                left: 3px;
                pointer-events: none;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        h1 {
            display: block;
        }

        h2 {
            margin-right: 6px;
        }

        .openapi-deprecated {
            left: 0;
            margin-bottom: 10px;
        }
    }

    & .openapi__deprecated {
        text-decoration: line-through;
    }

    & > &__request__wrapper:not(:last-child) {
        margin-bottom: 0;
    }

    & &__requests {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    & &__request {
        display: inline-flex;
        align-items: center;
        overflow-y: scroll;
        max-width: 100%;
        margin-bottom: 5px;

        &__wrapper {
            position: relative;
            max-width: 100%;
            display: inline-block;
        }

        & * {
            margin: 0;
        }

        & > .openapi__method {
            background-color: var(--method);
            padding: 8px 16px;
            color: #fff;
            border-radius: 5px 0 0 5px;
        }

        & > .yfm-clipboard {
            border: 2px solid var(--method);
            border-radius: 0 5px 5px 0;
            white-space: nowrap;
            overflow: visible;
            position: initial;

            code {
                padding: 6px 20px 6px 6px;
            }

            pre,
            code {
                border-radius: 0;
                overflow: visible;
            }

            svg {
                display: block;
                opacity: 0;
                transition: opacity 100ms;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            &:hover svg {
                opacity: 1;
            }
        }
    }

    & h3 {
        transition: color 100ms;
    }

    & .openapi__request__description {
        margin: 20px 0 0;
        font-size: 1.1em;
    }

    & h2[id^='2'] {
        color: var(--dc-openapi-status-code-ok);
    }

    & h2[id^='3'] {
        color: var(--dc-openapi-status-code-redirect);
    }

    & h2[id^='4'] {
        color: var(--dc-openapi-status-code-client);
    }

    & h2[id^='5'] {
        color: var(--dc-openapi-status-code-server);
    }
}

// make a spacing after each openapi response block

[class^='openapi__response__code__'] > :last-child {
    margin-bottom: 15px;
}

a.openapi-deprecated-link {
    text-decoration: line-through;

    & + svg {
        opacity: 0.6;
    }
}
